html, body {
  width: 100%;
  margin: 0;
  font-family: 'Droid Serif', serif;
  font-style: normal;
  font-weight: 400;
}

.navbar {
	height:70px;
  background-color:#EEEDED;
}
.navbar ul{
  padding:10px 70px 0px 0px;
  background-color:#EEEDED;
}
.navbar-header{
  padding-top:10px;
}
.navbar-header > a{
  padding:23px 0px 0px 70px;
  font-family:Josefin sans;
  font-size:30px;
}
#myNavbar > ul > li > a{
  font-size:25px;
  padding:19px 15px 9px 15px;
  font-family:comfortaa;
}

.quotator {
  width: 800px;
  height: 320px;
  position: absolute;


}

.word {
  font-size: 4em;
}

.define {
    font-size: 1.5em;
}

.pronounce {
  font-size: 1.5em;
}


.quote {
  position: absolute;
  top: 200px;
  left: 300px;
  -webkit-transform: rotate3d(100, -1, 1, 90deg);
          transform: rotate3d(100, -1, 1, 90deg);
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  opacity: 0;
  
 
  
}
.quote.js-current {
  -webkit-transform: rotate3d(1, 1, 1, 0);
          transform: rotate3d(1, 1, 1, 0);
  opacity: 1;
}

