@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot");
  src:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.eot#iefix") format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.ttf") format("truetype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.footer {
	position: absolute;
 	left: 50%;
	text-align:center;
    	bottom: 10px;
    	padding: 10px 10px;
	font-size:80%;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}

.icon-up-open-big {
  display: inline-block;
}

.icon-up-open-big:after {
  content: "^";
  font-size: 6em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: #000000;
  -webkit-transition: color .3s;
          transition: color .3s;
}


.icon-up-open-big:hover:after {
	color: #FFFFFF;	
    	size: large;
}

.scroll-icon {
	position: absolute;
 	left: 50%;
    	bottom: 20px;
    	padding: 30px 30px;
  	-webkit-transform: translateX(-50%);
  	        transform: translateX(-50%);
}



/*---------------------ICON DOWN---------------------------------*/



.icon-down-open-big {
  display: inline-block;
}

.icon-down-open-big:after {
  content: "^";
  font-size: 5em;
  display: block;
  color:  #000000;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-down-open-big:hover:after {
    color: #FFFFFF;	
    size: large;
}
/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	        transition: opacity, transform 1s, -webkit-transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}



/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
	/*text-transform: uppercase;*/
}

/*html {
	font-size: 62.5%;
}*/

body {
	color: 	#000000;
	letter-spacing: .18em;
}

/* remove underline href after click*/

a {
    text-decoration: none !important;
    color: #FFFFFF;
}

h2.sublogo {color: #A9A9A9;
    display: inline;
    font-size: 2em;    
    text-align: left;
    vertical-align: text-bottom;
    line-height: 120px;
	height: 70px;
    padding: 0;
}


ul, li {
	list-style-type: none;
}



/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	background: rgba(0, 47, 77, .3);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
    
}


.header-top h1 {
font-size: 1.5em;

}

.header-top h1 span {

color: #FFFFFF;
font-family: 'waiting for the sunrise';
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: #FFFFFF;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
    box-sizing: border-box;
	background: rgba(0, 47, 77, .25);
	position: fixed;
	top: 70px;
	width: 100%;
    -webkit-transition: all 3s;
          transition: all 3s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {

    background:  #adc0c6;
}

nav li:nth-child(even) a {

     background: #adc0c6;
}

nav li:nth-child(odd) a:hover {

    background: #a9d1c3;
}

nav li:nth-child(even) a:hover {
  
    background: #a9d1c3;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
	
    background:#90a4ae;
}
  
/* SECTION STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
	/*text-align: center;*/
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
	/*text-transform: lowercase;*/
	font-size: 4em;
	margin-bottom: 20px;
        color: #2d2d27;
}

h3 {
	font-weight: 300;
	font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: #FFFFFF;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}


#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}




.quote {
  position: absolute;
   /*top: 0;
  left: 100px;
  width: 200%;*/
  -webkit-transform: rotate3d(100, -1, 1, 90deg);
          transform: rotate3d(100, -1, 1, 90deg);
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  opacity: 0;
}
.quote.js-current {
  -webkit-transform: rotate3d(1, 1, 1, 0);
          transform: rotate3d(1, 1, 1, 0);
  opacity: 1;
}


.quote .word {font-size: 4em;
}

.quote .pronounce {font-size: 1em;
}

.quote .define {font-size: 1em;
}

img {

  width: 50%;
  padding: .5em;
  margin-bottom: -3em;
  border-radius: 50%;
  background: rgba(255, 255, 255, .4);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
}

bio{
      font-family: 'Source Sans Pro',sans-serif;
  font-size: 180px;
    
}

word{
    font-size: 2.5em;
}

sublogo{color: 	#000000;
    
}

p.aboutme{text-align: justify;
}

#mailme{
    text-decoration: none !important;
    
}

/*infinite bounce http://www.designermukesh.com/blog/create-infinite-bounce-effect-with-css3-animation/*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
 
.fa {
 width: 10px;
 display: none;
 text-align: center;
 color: none;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}
 
.bounce {
 position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
 
#contact #links div:hover i {
  background-color: #37474F;
}



#contact #links div:hover p {
  visibility: visible;
}



#contact #links i {
  height: 63px;
  width: 63px;
  font-size: 3.5em;
  padding: 10px;
  margin: 10px 16px;
  background-color: #90A4AE;
  color: #FFF;
}

/*mail*/
#contact #links #mailme i {

  font-size: 2em;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #FFF;
}


a:link {
   
    color: #FFFFFF !important;
}

a:visited {
  
   color: #FFFFFF !important;
}

#links.a:hover {
    color: #a9d1c3;
  
}

a:active {
   
}



/*center icons github, linked, codepen*/
.contactme {
    display: inline;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;     
    
}

/*padding paragraph*/

#contact p {
padding: 10px 
    /*visibility: hidden;*/
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  	nav li a {
    		font-size: 1.5em;
  	}
	
	h1.aboutme {
		
        	padding-top: 30px;
    	}
        
    	p.aboutme {
		font-size: 80%;
    	}
        
    /* img {

	      width: 40%;
	      padding: .1em;
	      margin-bottom: -1em;
	      border-radius: 50%;
	      background: rgba(255, 255, 255, .4);
	      box-shadow: .1em .1em .1em rgba(0, 0, 0, .4);
    
    	}*/
}

/*@media screen and (max-width: 767px) {
	

}*/

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
	.footer{
		font-size: 40%;
        	bottom: 0;    	
	}
	
	.quote{
		font-size: 80%;
	}
	
	.scroll-icon{
		font-size: 80%;
              
	}
    
    .icon-up-open-big:after {
 
        font-size: 4em;

    }
	
    .icon-down-open-big:after {
 
        font-size: 4em;

    }
    
    .bounce {
	 position: absolute;
	 bottom: 30px;
	 left: 50% ;
	 width: 30px;
	 height: 30px ;

}

    
	.mailme {
		font-size: 50%;
    	}
	
	#contact #links i {
  	height: 40px;
  	width: 40px;
  	font-size: 2.3em;
  	padding: 5px;
	
	}
	
	#contact #links #mailme i {
		  font-size: 1em;
	}
	
	
	h1.aboutme {
		font-size: 90%;
        	padding-top: 30px;
    	}
        
    	p.aboutme {
		font-size: 70%;
    	}
        
     img {

      width: 40%;
      padding: .1em;
      margin-bottom: -2em;
      border-radius: 50%;
      background: rgba(255, 255, 255, .4);
      box-shadow: .2em .2em .2em rgba(0, 0, 0, .4);
    
    }
        
}




